<?xml version="1.0"?>
<!-- 
    Nota: como alternativa para editar manualmente este archivo puede utilizar la 
    herramienta Administración de sitios Web para configurar los valores de la aplicación. Utilice
    la opción Sitio Web->Configuración de Asp.Net en Visual Studio.
    Encontrará una lista completa de valores de configuración y comentarios en 
    machine.config.comments, que se encuentra generalmente en 
    \Windows\Microsoft.Net\Framework\v2.x\Config
-->
<configuration>
	
	<configSections>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<appSettings>
		
		<!--SECCION DE PARAMETROS PARA LA INTEGRACION CON EL SISTEMA DE SEGURIDAD-->
		<!-- ABREVIATURA DEL SISTEMA EN AMBIENTE DE DESARROLLO-->
		<add key="abrevSis" value="CARTDESA"/>
		
		<!-- DATOS ENCRIPTADOS DE CONEXION PARA EL AMBIENTE DE DESARROLLO-->
		<add key="instancia" value="32-10-74-0f-bd-f2-fd-b9-0a-49-0b-2b-95-64-81-5c"/>
		<add key="user_bd" value="b5-8b-81-8c-ba-70-6d-e1-e9-30-57-4b-27-95-bd-27"/>
		<add key="passw_bd" value="b5-8b-81-8c-ba-70-6d-e1-e9-30-57-4b-27-95-bd-27"/>

		<!--SECCION DE PARAMETROS PARA LA INTEGRACION CON EL SISTEMA DE SEGURIDAD-->
		<!-- ABREVIATURA DEL SISTEMA EN AMBIENTE DE QA-->
		<!--<add key="abrevSis" value="SISCART" />-->
		<!-- DATOS ENCRIPTADOS DE CONEXION PARA EL AMBIENTE DE QA-->
		<!--<add key="instancia" value="43-62-cb-50-1b-10-e5-4b-fa-ff-06-d2-80-ed-4c-08" />
		<add key="user_bd" value="c2-d0-f5-a6-17-44-f8-5c-33-3d-ae-20-6c-38-cb-46" />
		<add key="passw_bd" value="9f-78-69-2e-14-4e-79-1a-37-43-9e-98-2e-39-d2-6d" />-->

		<!--SECCION DE PARAMETROS PARA LA INTEGRACION CON EL SISTEMA DE SEGURIDAD-->
		<!-- ABREVIATURA DEL SISTEMA EN AMBIENTE DE PRODUCCION-->
		<!--<add key="abrevSis" value="SISCART" />-->
		<!-- DATOS ENCRIPTADOS DE CONEXION PARA EL AMBIENTE DE PRODUCCION-->
		<!--<add key="instancia" value="24-98-07-ee-de-c9-ce-c7-2f-18-b7-b1-fc-1f-d4-0f" />
		<add key="user_bd" value="c2-d0-f5-a6-17-44-f8-5c-33-3d-ae-20-6c-38-cb-46" />
		<add key="passw_bd" value="69-1d-96-bc-8e-2f-55-8f-41-e2-96-a5-c8-97-6b-54" />-->
		
		<!--SECCION DE MENSAJES DE ERROR PERSONALIZADOS PARA LOS MODULOS DE CARTELERIA-->
		<!--MODULO CATEGORIAS-->
		<add key="MCAT_CN" value="No ha colocado el nombre de la categoría"/>
		<add key="MCAT_ND" value="Ya existe en el sistema el nombre de la categoría que quere ingresar"/>
		<add key="MCAT_AD" value="Se ha registrado correctamente la categoría"/>
		<add key="MCAT_MD" value="Se ha modificado correctamente los datos de la categoría"/>
		<add key="MCAT_ED" value="Se ha eliminado la categoría"/>
		<add key="MCAT_VIRCAT" value="No se pudo eliminar la categoría registro. Existen registros relacionados que estan siendo afectados por esta acción"/>
		<!--MODULO PROMOCIONES-->
		<add key="MP_CN" value="No ha colocado el nombre de la promoción"/>
		<add key="MP_ND" value="Ya existe en el sistema el nombre de la promoción que quere ingresar"/>
		<add key="MP_AD" value="Se ha registrado correctamente la promoción"/>
		<add key="MP_MD" value="Se ha modificado correctamente los datos de la promoción"/>
		<add key="MP_ED" value="Se ha eliminado la promoción"/>
		<add key="MP_VIRPROM" value="No se pudo eliminar la promoción. Existen registros relacionados que estan siendo afectados por esta acción"/>
		<!--MODULO TIENDAS-->
		<add key="MT_IDT" value="Ya existe en el sistema una tienda con el Id que quiere consignar"/>
		<add key="MT_CN" value="No ha colocado el nombre de la tienda"/>
		<add key="MT_ND" value="Ya existe en el sistema el nombre de la tienda que quere ingresar"/>
		<add key="MT_AD" value="Se ha registrado correctamente la tienda"/>
		<add key="MT_MD" value="Se ha modificado correctamente los datos de la tienda"/>
		<add key="MT_ED" value="Se ha eliminado la tienda"/>
		<add key="MT_VIRT" value="No se pudo eliminar la tienda. Existen registros relacionados que estan siendo afectados por esta acción"/>
		<!--MODULO CAMPOS-->
		<add key="MCAM_CNNA" value="No ha colocado el nombre del alias"/>
		<add key="MCAM_CNNC" value="No ha colocado el nombre del campo"/>
		<add key="MCAM_CNCT" value="No ha colocado el tipo de dato del campo"/>
		<add key="MCAM_CNCL" value="No ha colocado la longitud del campo"/>
		<add key="MCAM_CNCD" value="No ha colocado el numero de decimales del campo"/>
		<add key="MCAM_NCD" value="Ya existe en el sistema el nombre del campo que quere ingresar"/>
		<add key="MCAM_ACD" value="Ya existe en el sistema el alias del campo que quere ingresar"/>
		<add key="MCAM_AD" value="Se ha registrado correctamente del campo"/>
		<add key="MCAM_MD" value="Se ha modificado correctamente los datos del campo"/>
		<add key="MCAM_ED" value="Se ha eliminado el campo"/>
		<add key="MCAM_VIRCAMP" value="No se pudo eliminar el campo. Existen registros relacionados que estan siendo afectados por esta acción"/>
		<!--GRUPO DE TIENDAS-->
		<add key="MGT_CN" value="No ha colocado el nombre del grupo"/>
		<add key="MGT_ND" value="Ya existe en el sistema el nombre del grupo que quere ingresar"/>
		<add key="MGT_AD" value="Se ha registrado correctamente el grupo"/>
		<add key="MGT_MD" value="Se ha modificado correctamente los datos del grupo"/>
		<add key="MGT_ED" value="Se ha eliminado el grupo"/>
		<add key="MGT_VIRGRUPT" value="El grupo no se pudo eliminar. Existen registros relacionados que estan siendo afectados por esta acción"/>
		<!--GRUPO DE CARTELES Y MODELOS-->
		<add key="MC_CN" value="No ha colocado el nombre del cartel"/>
		<add key="MC_ND" value="Ya existe en el sistema el nombre del cartel que quere ingresar"/>
		<add key="MC_AD" value="Se ha registrado correctamente el cartel"/>
		<add key="MC_MD" value="Se ha modificado correctamente los datos del cartel"/>
		<add key="MC_ED" value="Se ha eliminado el cartel"/>
		<add key="MC_VIRC" value="No puede eliminar este cartel. Existen registros relacionados que estan siendo afectados por esta acción"/>
		<add key="MC_VIR" value="No puede eliminar este modelo. Existen registros relacionados que estan siendo afectados por esta acción"/>
		<!--DETALLE DE CARTELES MODELOS Y CAMPO-->
		<add key="CMC_CN" value="No ha seleccionado el cartel-modelo"/>
		<add key="CMC_ND" value="Ya existe en el sistema el nombre del cartel-modelo que quere ingresar"/>
		<add key="CMC_AD" value="Se ha registrado correctamente el cartel-modelo"/>
		<add key="CMC_MD" value="Se ha modificado correctamente los datos del cartel-modelo"/>
		<add key="CMC_ED" value="Se ha eliminado el cartel-modelo"/>
		<!--DETALLE DE CARTELES MODELOS CATEGORIAS Y PROMOCIONES-->
		<add key="CMCP_CN" value="No ha seleccionado el cartel-modelo"/>
		<add key="CMCP_CD" value="Ya existe asociado un cartel-modelo en la categoría y promoción seleccionados"/>
		<add key="CMCP_AD" value="Se ha asociado correctamente el cartel - modelo a la categoría - promoción"/>
		<add key="CMCP_ED" value="Se ha eliminado el cartel - modelo de la categoría - promoción"/>
		<!--INGRESO MANUAL Y AUTOMATICO DE CARTELERIA-->
		<add key="CIMA_AD" value="Se ha registrado correctamente la guia de productos de la cartelería"/>
		<add key="CIMA_MD" value="Se ha modificado la guia y todos sus productos"/>
		<add key="CIMA_ED" value="Se ha eliminado la guia y todos sus productos"/>
		<add key="CIMA_MEG" value="La guia ha quedado lista para imprimirse"/>
		<add key="CIMA_VCO" value="Falta llenar de valores los campos del producto"/>
		<!--MENSAJES EN LA CAPA DE PRESENTACION-->
		<add key="MCP_NEP" value="No hay plantilla asociada para el:"/>
		<add key="MCP_PIC" value="Plantilla importada correctamente"/>
		<add key="MCP_PNI" value="Plantilla NO IMPORTADA"/>
		<add key="MCP_MIMPR" value="Error - No existe o la versión no es la correcta para el archivo la plantilla asociada al Cartel - Modelo. Por favor salga del formulario y vuelva a ingresar e intente nuevamente la operación. "/>
		<add key="MCP_GNG" value="No puede realizar esta operación. Debe primero grabar la guia"/>
		<add key="MCP_GNG" value="No puede realizar esta operación. Este producto aun no pertenece a la guia. Debe primero grabar la guia"/>
		<add key="MCP_RPV" value="No puede realizar esta operación. No ha ingresado producto a la guia"/>
		<!--MENSAJES EN EL MODULO DE GUIAS-->
		<add key="GEX_IR" value="No puede eliminar esta guia. Existen excepciones relacionadas que estan siendo afectados por esta acción"/>
		<add key="MCP_NEXPCM" value="No existe o la versión no es la correcta para el archivo de la plantilla de carga masiva "/>
		<add key="MCP_NEXF" value="No existe o la versión no es la correcta para el archivo la plantilla asociada al Cartel - Modelo "/>
		
		<!-- RUTA DE PLANTILLAS Y CARTELES DE LAS FUENTES DE DESARROLLO-->
		<add key="PATH_SERVER" value="C:\SistGestCart-(Prototipo)\SistGestCart.WEB\plantillas\"/>
		<add key="PATH_CARTEL" value="C:\SistGestCart-(Prototipo)\SistGestCart.WEB\plantillas\carteles\"/>
		<add key="PATH_PCM" value="C:\SistGestCart-(Prototipo)\SistGestCart.WEB\plantillas\pcm\"/>
		<add key="PATH_GMA" value="C:\SistGestCart-(Prototipo)\SistGestCart.WEB\plantillas\gma\"/>
		
		<!--RUTA DE PLANTILLAS Y CARTELES DEL SERVIDOR LOCAL-->
		<!--<add key="PATH_SERVER" value="C:\WebCarteleria\plantillas\"/>
		<add key="PATH_CARTEL" value="C:\WebCarteleria\plantillas\carteles\"/>
		<add key="PATH_PCM" value="C:\WebCarteleria\plantillas\pcm\"/>
		<add key="PATH_GMA" value="C:\WebCarteleria\plantillas\gma\"/>-->
		
		<!--RUTA DE PLANTILLAS Y CARTELES DEL SERVIDOR DE DESARROLLO, QA Y PRODUCCCION-->
		<!--<add key="PATH_SERVER" value="C:\inetpub\WebCarteleria\plantillas\"/>
		<add key="PATH_CARTEL" value="C:\inetpub\WebCarteleria\plantillas\carteles\"/>
		<add key="PATH_PCM" value="C:\inetpub\WebCarteleria\plantillas\pcm\"/>
		<add key="PATH_GMA" value="C:\inetpub\WebCarteleria\plantillas\gma\"/>-->
		
		<!--RUTA DE PLANTILLAS Y CARTELES PDF GENERADOS-->		
		<add key="RutaCarteleria" value="plantillas\\carteles\\"/>
		<add key="RutaPlantillas" value="plantillas\\"/>		
		
		<!--EXTENCION DE PLANTILLAS EXCEL DEL SERVIDOR (EXCEL 2007 y 2010)-->
		<add key="EXCEL_FILE_EXTENCION" value=".xlsx"/>
		
		<!--RUTA DEL ARCHIVO LOG DE ERRORES DE LAS FUENTES DESARROLLO-->
		<add key="RutaErrorLog" value="C:\SistGestCart-(Prototipo)\SistGestCart.WEB\ErrorLog\LOGSCE_{0}.txt"/>
		
		<!--RUTA DEL ARCHIVO LOG DE ERRORES DEL SERVIDOR LOCAL-->
		<!--<add key="RutaErrorLog" value="C:\WebCarteleria\ErrorLog\LOGSCE_{0}.txt"/>-->
		
		<!--RUTA DEL ARCHIVO LOG DE ERRORES DE LOS AMBIENTES DE DESARROLLO, QA Y PRODUCCION-->
		<!--<add key="RutaErrorLog" value="C:\inetpub\WebCarteleria\ErrorLog\LOGSCE_{0}.txt"/>-->
		
		<!--RUTA DEL ARCHIVO LOG DE INCIDENCIAS DEL PROCESO DE IMPRESION DE LAS FUENTES DESARROLLO-->
		<add key="RutaLogStepsPI" value="C:\SistGestCart-(Prototipo)\SistGestCart.WEB\ErrorLog\LOGIMPRSCE_{0}.txt"/>
		
		<!--RUTA DEL ARCHIVO LOG DE INCIDENCIAS DEL PROCESO DE IMPRESION DEL SERVIDOR LOCAL-->
		<!--<add key="RutaLogStepsPI" value="C:\WebCarteleria\ErrorLog\LOGIMPRSCE_{0}.txt"/>-->
		
		<!--RUTA DEL ARCHIVO LOG DE ERRORES DE LOS AMBIENTES DE DESARROLLO, QA Y PRODUCCION-->
		<!--<add key="RutaErrorLog" value="C:\inetpub\WebCarteleria\ErrorLog\LOGSCE_{0}.txt"/>-->
		
		<!--NUMERO MAX DE DIGITOS CARTEL-MODELO-->
		<add key="NroMaxDigitos" value="5"/>

		<!--NUMERO DE DIGITOS CONTROLES EN UN FORMULARIO-->
		<add key="aspnet:MaxHttpCollectionKeys" value="10000" />
		
		<!--TAMAÑO DE PAGINA DE DATOS DE CONSULTAS-->
		<add key="PageSize" value="20"/>
		
		<!--DOMINIO\LOGIN DEL FILE SERVER-->
		<add key="DOMLOG_FS" value="mmsi005\adm_cartel" />

		<!--LOGIN DEL FILE SERVER-->
		<add key="LOGIN_FS" value="adm_cartel" />
		
		<!--PASSWORD DEL FILE SERVER-->
		<add key="PASSWORD_FS" value="123456" />

		<!--DOMINIO DEL FILE SERVER-->
		<add key="DOMINIO_FS" value="mmsi005" />

		<!--RUTAS DEL FILE SERVER PARA CARTELERIA-->		
		<add key="PATH_PLANTILLAS_FS" value="\\mmsi005\compartido\" />
		
		
		
		

		<!--LOGIN DEL FILE SERVER-->
		<!--<add key="LOGIN_FS" value="lambayeque\adm_iis" />-->

		<!--PASSWORD DEL FILE SERVER-->
		<!--<add key="PASSWORD_FS" value="cartel00" />-->

		<!--DOMINIO DEL FILE SERVER-->			
		<!--<add key="DOMINIO_FS" value="lambayeque.tpsa.local" />-->

		<!--RUTAS DEL FILE SERVER PARA CARTELERIA-->
		<!--<add key="PATH_PLANTILLAS_FS" value="\\lambayeque\compartido\" />-->
		
		
	</appSettings>
	<connectionStrings/>
	<system.web>
		<httpRuntime executionTimeout="360000"/>
		<!-- 
            Establezca debug="true" en la compilación para insertar símbolos 
            de depuración en la página compilada. Dado que este 
            proceso afecta al rendimiento, debe establecer este valor como true 
            durante la depuración. Al pasar a producción debera esblecerce debug="false"
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="Microsoft.Office.Interop.Excel, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="DocumentFormat.OpenXml, Version=2.0.5022.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies>
		</compilation>
		<!--
            La sección <authentication> habilita la configuración
            del modo de autenticación de seguridad utilizado por 
            ASP.NET para identificar a un usuario entrante.
            
            <authentication mode="Forms">
			        <forms defaultUrl="SegLogin.aspx" loginUrl="SegLogin.aspx" name=".ASPXAUTH." timeout="30"></forms>
            <forms defaultUrl="Home/Home.aspx" loginUrl="Home/Home.aspx" name=".ASPXAUTH." timeout="30"></forms>
		        </authentication>
        -->

		<!--La suplantacion del usuario o la cuenta de autenticado de IIS esta desabilitada por defecto-->
		<identity impersonate="true"/>
		
		<!--Suplantando al usuario o la cuenta de autenticado de IIS-->
		<!--<identity impersonate="true"/>-->
		
		<!--Suplantando al usuario o la cuenta de autenticado especifico de IIS-->
		<!--<identity impersonate="true" userName="accountname" password="password" />-->
		
		<!--<authentication mode="Windows"/>-->
		
		<authorization>
			<allow users="*"/>
			<!-- Allow all users -->
			<!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
		</authorization>
		<!--
            La sección <customErrors> habilita la configuración de 
            las acciones que se deben realizar si un error no controlado tiene lugar
            durante la ejecución de una solicitud. Específicamente, 
            permite a los desarrolladores configurar páginas de error html 
            que se mostrarán en lugar de un seguimiento de pila de errores.   
            
            mode="RemoteOnly" Al realizar el pase a producción debera establecerse obligatoriamente
            mode="On"
            mode="Off"
        -->
		<customErrors mode="Off" defaultRedirect="paginasError/GenericErrorPage.aspx">
			<error statusCode="404" redirect="paginasError/NotFoundPage.htm"/>
		</customErrors>
		
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="es-PE" uiCulture="es-PE"/>
		
		<sessionState cookieless="true" timeout="60" mode="InProc"/>
		
		<trace enabled="true" localOnly="false"/>
		
		<pages validateRequest="false">
			<controls>
				<add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
				<add tagPrefix="ajax" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</controls>
		</pages>
		
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
		</httpHandlers>
		
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>

			<add name="UrlAuthorization" type="System.Web.Security.UrlAuthorizationModule" />
			<add name="FileAuthorization" type="System.Web.Security.FileAuthorizationModule" />
			<add name="AnonymousIdentification" type="System.Web.Security.AnonymousIdentificationModule" />

		</httpModules>
		
	</system.web>
	
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="OptionInfer" value="true"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>
	<!-- 
        La sección system.webServer es necesaria para ejecutar ASPN.NET AJAX en Internet
        Information Services 7.0. No es necesaria para la versión anterior de IIS.
   -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="ScriptModule"/>
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</handlers>		
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
